.projects__carousel__card{

  background: #171923;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  margin: 25px 25px;
  padding: 2rem;
  max-width: 480px;
  width: 100%;
  text-align: center;
  transition: all 0.25s ease-in-out 0s;

  img{
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 1rem 1rem 0 0;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  h2{
    color: #41B883;
    font-size: 24px;
    margin: 15px 8px;
  }

  p{
    font-size: 16px;
  }

  ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li{
      margin: 15px 5px 0 5px;
      padding: 5px 14px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: #921944;
    }
  }

  &__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a{
      margin: 15px 5px 0 5px;
      padding: 5px 14px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: #921944;
      
      text-decoration: none;
      color: aliceblue;
      background-color: rgb(110, 0, 153);
  
    }
  }
}