.skills{

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px 20px;
  background-color: #252A2E;

  color: #fff;

  &--title{
    font-size: 36px;
    margin: 24px 0;
  }

  h2{
    font-size: 20xp;
    margin-bottom: 24px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
  }

  img {
    margin: 5px 10px;
    width: 75px;
  }

}