<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./style/main.css">
  <title>Wladimir Sanvicente</title>
</head>
<body>
  <div id="app">

    <header class="header">
      <a href="#" class="header--logo">WS</a>

      <nav class="header__nav">
        <ul>
          <li><a href="#home">HOME</a></li>
          <li><a href="#about-me">ABOUT ME</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="#contacto">CONTACTO</a></li>
        </ul>
      </nav>

    </header>

    <section id="home" class="home">

      <div class="home__card">
        <img src="./img/me.jpg" alt="" class="home__card--me">

        <h2 class="home__card--name">Wladimir Sanvicente</h2>
        <h2 class="home__card--details">Software Developer</h2>
        <ul class="home__card__social-networks">
          <li><a href="https://github.com/Wladi1000" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/wladimir-sanvicente-359096218/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/codinghobbies/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>

    </section>

    <section id="about-me" class="about-me">
      <div class="about-me__tittle">
        <h1 class="about-me__title--greeting">Hi, my name is</h1>
        <h2 class="about-me__title--name">Wladimir Sanvicente</h2>
      </div>

      <p class="about-me--details">I am a software developer, and I love developing interesting projects, always with the aim of improving my skills. I develop web applications using technologies like Vue and Node.js with SQL databases. I develop games as a hobby. I keep researching the ideal development practices for a project and looking for the best possible user experience.</p>
    </section>

    <section id="skills" class="skills">

      <h1 class="skills--title">Skills</h1>

      <div class="skills__front">
        <h2 class="skills__front--title">Front-end Develoment</h2>
        <ul>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" /></li>
        </ul>
      </div>

      <div class="skills__back">
        <h2 class="skills__back--title">Back-end Develoment</h2>
        <ul>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" /></li>
        </ul>
      </div>

      <div class="skills__other">
        <h2 class="skills__other--title">I have worked with</h2>
        <ul>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ionic/ionic-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xd/xd-plain.svg" /></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" /></li>
        </ul>
      </div>

    </section>

    <section class="projects" id="projects">

      <h1 class="projects--title">Projects</h1>

      <div class="projects__carousel">

        <div class="projects__carousel__card"
        v-for="(project, index) in projects" :key="project.title"
        >
          <img :src="projects[index].img" alt="" class="projects__card--img">

          <h2>{{ projects[index].title }}</h2>

          <p>{{ projects[index].description }}</p>

          <ul class="projects__carousel__card__tools"
          v-for="(tool, otherIndex) in projects[index].tools" :key="tool"
          >
            <li>{{ projects[index].tools[otherIndex] }}</li>
          </ul>

          <div class="projects__carousel__card__buttons">
            <a :href="projects[index].deploitment" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-laptop-code"></i> Deploitment</a>
            <a :href="projects[index].repo" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i> Source Code</a>  
          </div>
        </div>
      </div>

    </section>

  </div>





  <!-- Vue.js -->

  <script src="https://unpkg.com/vue@next"></script>
  <script>
      const { createApp } = Vue;

      const app = createApp({
          data() {
              return {
                  projects: [
                    {
                      img: './img/projects/02.jpeg',
                      title: 'Launch countdown timer',
                      description: 'Countdown timer set in a rocket launch. Challenge assigned from the page frontendmentor.io',
                      tools: ['Vue.js'],
                      deploitment: 'https://launch-countdown-timer-ws.netlify.app',
                      repo: 'https://github.com/Wladi1000/Launch-countdown-timer'
                    },
                    {
                      img: './img/projects/13.jpeg',
                      title: 'Personal Portfolio',
                      description: 'Personal portfolio for the presentation of my projects',
                      tools: ['Vue.js', 'Sass'],
                      deploitment:'#',
                      repo: '#'
                    },
                    {
                      img: './img/projects/11.jpeg',
                      title: 'Samurai Game',
                      description: 'Game made with Vanilla JavaScript, made as a practice of the mentioned language',
                      tools: ['JavaScrip Vanilla'],
                      deploitment:'https://wladi1000-fighting-game.netlify.app',
                      repo: 'https://github.com/Wladi1000/fighting-game'
                    }
                    
                  ]
              };
          },
          methods: {

              addToCart(product) {
                  
              }

          }
      });
  </script>

  
  <script>
    app.mount("#app")
  </script>
</body>
</html>