.experience {
    padding: 40px 40px 60px 40px;

    // & .row div{
    //     height: 250px;
    //     background-color: purple;
    //     border: 3px solid orange
    // }
    & i {
        font-size: 2.5rem;
        color: #7ade30;
        background-color: #0a0a23;
        padding: 8px 19px;
        border-radius: 50%;
    }

    &-title {
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0;
    }

    & .badges-contenedor {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;

        & .badge {
            margin: 5px;
        }
    }

    & .column {
        padding: 20px;
        border: 2px solid #8080804d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.2s ease-in;
        &:hover{
            color: white;
            background: #1b1b32;
        }
    }
}